.element {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 26px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1190px) {
  .element {
    width: 60px;
  }
}

.element:hover {
  opacity: 0.9;
}
.element:active {
  background-color: #7abaee;
}

.atomicnumber {
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: 0;
}

.massnumber {
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: 0;
}

/* that space in the top middle of the table */
.He {
  grid-column: 18/18;
}
.B {
  grid-column: 13/13;
}
.Al {
  grid-column: 13/13;
}

/* hydrogen */
.H {
  background: #c3dea7;
}

/* nobel gasses */
.He,
.Ne,
.Ar,
.Kr,
.Xe,
.Rn {
  background: #f3607b;
}

/* alkalai metals */
.Li,
.Na,
.K,
.Rb,
.Cs,
.Fr {
  background: #15995d;
}

/* alkalai earth metals */
.Be,
.Mg,
.Ca,
.Sr,
.Ba,
.Ra {
  background: #9cb65e;
}

/* transition metals */
.Sc,
.Ti,
.V,
.Cr,
.Mn,
.Fe,
.Co,
.Ni,
.Cu,
.Zn,
.Y,
.Zr,
.Nb,
.Mo,
.Tc,
.Ru,
.Rh,
.Pd,
.Ag,
.Cd,
.Hf,
.Ta,
.W,
.Re,
.Os,
.Ir,
.Pt,
.Au,
.Hg,
.Rf,
.Db,
.Sg,
.Bh,
.Hs,
.Cn {
  background: #a784ec;
}

/* metalloids */
.B,
.Si,
.Ge,
.As,
.Sb,
.Te,
.At {
  background: #27bfcd;
}

/* non metals */
.C,
.N,
.O,
.F,
.P,
.S,
.Cl,
.Se,
.Br,
.I {
  background: #c3dea7;
}

/* post transition metals */
.Al,
.Ga,
.In,
.Sn,
.Tl,
.Pb,
.Bi,
.Po,
.Fl {
  background: #f3d47f;
}

/* lanthanum series  */
.La,
.Ce,
.Pr,
.Nd,
.Pm,
.Sm,
.Eu,
.Gd,
.Tb,
.Dy,
.Ho,
.Er,
.Tm,
.Yb,
.Lu {
  background: #f37dba;
}

/* actinium series */
.Ac,
.Th,
.Pa,
.U,
.Np,
.Pu,
.Am,
.Cm,
.Bk,
.Cf,
.Es,
.Fm,
.Md,
.No,
.Lr {
  background: #faa8c4;
}
