
.grid-container-main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw;
  padding: 0;
}
.grid-container-la {
  display: grid;
  grid-template-columns: 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw;
  margin-left: 236px;
  padding: 18px 0;
  width: 71.2%;
}

.subscript{
  font-size: 0.7rem;
}
@media only screen and (max-width: 1190px) {
  .grid-container-main {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  .grid-container-la {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
}
