body {
  background-color: #2196f3;
}

.grid-container-main {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 5px;
}
.grid-container-la {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 71.2%;
  margin-left: 236px;
  padding: 5px;
}

.display {
  background: white;
  width: 100%;
  padding: 1rem;
}
